.single-photo {
  margin: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .img-container {
    padding: 2rem;
    font-size: 0;

    img {
      max-height: calc(100vh - 4rem);
      width: auto;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    }
  }

  figcaption {
    padding: 2rem;
    max-width: 40ch;

    .exif-details {
      list-style-type: none;
      margin: 1rem 0 0 0;
      padding: 0;
    }
  }
}
